html {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: Abel;
    width: 100%;
    color: rgba(200, 200, 200);
    background-color: black;
}

#logo {
    display: flex;
    margin-top: 8px;
    margin-left: 35px;
}

#logo p {
    font-size: 23px;
    color: white;
    margin-top: 15px;
}

#logo img {
    margin-top: 5px;
    margin-right: 5px;
}

#logo p:hover {
    color: rgb(236, 179, 144);
    font-weight: 700;
}

#header {
    margin-top: -10px;
    display: inline;
    position: fixed;
    left: 0;
    height: 90px;
    right: 0;
    border-bottom: 1px solid rgba(56, 56, 56, 0.972);
    background-color: black;
    opacity: 0.9;
}

#navbar {
    float: right;
    margin-top: -55px;
    margin-right: 120px;
}

#navbar a {
    text-decoration: none;
    padding-left: 40px;
    color: rgba(200, 200, 200);
    font-size: 20px;
}

#navbar a:hover {
    color: rgb(236, 179, 144);
    text-decoration: underline;
    text-underline-offset: 10px;
}

#first {
    height: 200px;
}

#second {
    margin-top: 130px;
    margin-left: 120px;
    height: 70vh;
}

#para {
    font-size: 24px;
    color: rgb(236, 179, 144);
}

#title {
    font-size: 55px;
    font-weight: 800;
    margin-top: -75px;
}

#para1 {
    font-size: 22px;
    margin-top: -50px;
}

#para2 {
    font-size: 19px;
    margin-top: -20px;
    color: rgb(163, 163, 163);
}

#btn {
    display: flex;
}

#id:hover {
    color: black;
}

#box {
    border-radius: 20px;
    padding: 7px 40px;
    font-size: 25px;
    margin-top: 22px;
    background-color: rgb(236, 179, 144);
    border: none;
    color: white;
    text-decoration: none;
}

#box:hover {
    transform: scale(1.2);
    background-image: linear-gradient(red, orange);
    /*hover on get started*/
}

#main {
    margin-top: -10px;
}

#mains {
    width: 650px;
    background-color: rgba(255, 255, 255, 0.041);
    height: 300px;
    padding: 0px 10px;
    border-radius: 50%;
}

#img {
    float: right;
    margin-top: -300px;
    margin-right: 100px;
}

#third {
    background-color: rgba(255, 255, 255, 0.061);
}

#title2 {
    font-size: 45px;
    font-weight: 800;
}

#products {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 150px;
}

#pp {
    margin-top: -30px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.733);
}

#pp:hover {
    color: white;
}

#ppp {
    font-size: 19px;
}

#images {
    display: flex;
}

#images2 {
    display: flex;
}

#img1 {
    border: 1px solid red;
    border: none;
    border-radius: 20px;
    height: 320px;
    width: 380px;
    padding: 40px 20px 20px 35px;
    background-image: linear-gradient(rgba(65, 62, 62, 0.322), black);
    margin-left: 150px;
    margin-top: 50px;
}

#img1 img {
    border-radius: 20px;
}

#img1:hover {
    background-image: linear-gradient(rgba(202, 139, 139, 0.52), black);
    color: white;
}

#p1 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}

#pp2 {
    margin-top: -20px;
    color: rgb(163, 163, 163);
    font-size: 17px;
}

#full {
    background-color: rgb(26, 26, 26);
    padding-bottom: 150px;
}

#service {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#webdev {
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid red;
    border: none;
    width: 1700px;
    display: flex;
    margin-bottom: 150px;
}

#webdev:hover {
    background-image: linear-gradient(rgb(26, 26, 26), rgb(20, 20, 30));
}

#pic {
    margin-left: 200px;
    padding-top: 40px;
}

#parag {
    margin-left: 170px;
    margin-top: 100px;
}

#parag h1 {
    font-size: 38px;
}

#parag p {
    font-size: 17px;
    margin-top: -10px;
}

#footer {
    background-color: rgb(17, 17, 17);
}

#contact {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 300px;
    background-color: rgb(30, 30, 30);
}

.dot {
    height: 120px;
    width: 120px;
    margin-left: 20px;
    background-color: #bbb;
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(26, 26, 26);
}

.dot:hover {
    color: orange;
    background-color: rgba(20, 20, 20, 0.842);
}

.dot a:hover {
    color: orange;
}

#lists {
    display: flex;
    margin-left: 550px;
}

#lists p {
    line-height: 8px;
}

#line {
    border-bottom: 1px solid rgba(56, 56, 56, 0.972);
    border-top: 1px solid rgba(56, 56, 56, 0.972);
    padding-top: 20px;
}

#ser {
    padding-left: 100px;
}

#ser h1 {
    color: rgba(200, 200, 200, 0.801);
}

#ser h1:hover {
    color: orange;
}

#ser p {
    color: gray;
}

#ser p:hover {
    color: orange;
}